<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Austin Ginder's Music</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
      [v-cloak] > * {
        display:none;
      }
    </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-main>
        <v-toolbar dark color="primary">
            <v-toolbar-title>Austin Ginder's Music</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn href="https://austinginder.com" icon target="_blank" v-bind="attrs" v-on="on"><v-icon>mdi-home</v-icon></v-btn>
              </template>
              <span><v-icon small>mdi-open-in-new</v-icon> austinginder.com</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn href="https://soundcloud.com/austinginder/" icon target="_blank" v-bind="attrs" v-on="on"><v-icon>mdi-soundcloud</v-icon></v-btn>
              </template>
              <span><v-icon small>mdi-open-in-new</v-icon> soundcloud.com/austinginder</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn href="https://github.com/austinginder/music/" icon target="_blank" v-bind="attrs" v-on="on"><v-icon>mdi-github</v-icon></v-btn>
              </template>
              <span><v-icon small>mdi-open-in-new</v-icon> github.com/austinginder/music</span>
            </v-tooltip>
        </v-toolbar>
        <v-card flat class="text-center mt-4">
            <v-icon size="20" class="mb-1">mdi-folder-music-outline</v-icon> {{ tracks.length }} tracks <v-icon size="20" class="ml-4 mb-1">mdi-album</v-icon> {{ albums.length }} albums <v-icon size="20" class="ml-4 mb-1">mdi-clock-outline</v-icon> {{ totalTime }} duration 
        </v-card>
        <v-container>
            <v-row v-show="singleTracks.length > 0">
              <v-col cols="12">
                <v-list class="elevation-2" max-width="800px" style="margin:auto;">
                  <v-list-item-group v-model="selected_item_index" color="primary">
                    <v-list-item
                      v-for="item in singleTracks"
                      :key="item.title"
                      target="_blank"
                      :href=`${share_url}/${item.audio}.webm`
                      @click.prevent="selected_item = item; playAudio()"
                    >
                      <v-list-item-avatar>
                          <v-icon large>mdi-play-box</v-icon>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title>
                            {{ item.title }}
                        </v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-list-item-action-text></v-list-item-action> <v-icon size="18" class="mb-1 mr-1">mdi-calendar-clock</v-icon> {{ item.date }} <v-icon size="18" class="mb-1 mr-1 ml-5">mdi-clock-outline</v-icon> {{ item.duration }}</v-list-item-action-text>
                      </v-list-item-action>
                    </v-list-item>
                    </v-list-item-group>
                </v-list>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4" v-for="album in albums">
                <v-card  max-width="400px" style="margin:auto;">
                <img :src=`images/${album.title}.jpg` style="max-width:100%;" v-if="album.artwork != false">
                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                      <v-list-item-title>Name</v-list-item-title>
                      <v-list-item-subtitle>{{ album.title }}</v-list-item-subtitle>
                    </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                      <v-list-item-title>Date</v-list-item-title>
                      <v-list-item-subtitle>{{ album.date }}</v-list-item-subtitle>
                    </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                      <v-list-item-title>{{ albumTracks( album ).length }} tracks</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                      <v-list-item-title>{{ trackLength( albumTracks( album ) ) }} duration</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                  </v-list>
                  <v-list>
                    <v-list-item-group v-model="album.position" color="primary">
                      <v-list-item
                        v-for="item in albumTracks( album )"
                        :key="item.title"
                        target="_blank"
                        :href=`${share_url}/${item.audio}.webm`
                        @click.prevent="selected_item = item; playAudio()"
                      >
                        <v-list-item-avatar>
                            <v-icon large>mdi-play-box</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title>
                            {{ item.position }}. {{ item.title }} <span class="text-right"></span>
                          </v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                          <v-list-item-action-text></v-list-item-action><v-icon size="18" class="mb-1 mr-1">mdi-clock-outline</v-icon> {{ item.duration }}</v-list-item-action-text>
                        </v-list-item-action>
                      </v-list-item>
                      </v-list-item-group>
                  </v-list>
                </v-col>
                </v-row>
              </v-card>
              </v-col>
            </v-row>
        </v-container>
      </v-main>
      <v-footer fixed padless app>
        <v-card width="100%" color="grey lighten-4">
          <v-card-text style="max-width:400px;margin:auto" class="text-center pa-2">
              <v-btn icon class="ma-2" @click.native="sound.playing() ? sound.pause() : sound.play()" :disabled="!loaded">
                  <v-icon large v-if="!playing || paused">mdi-play-circle</v-icon>
                  <v-icon large v-else>mdi-pause-circle</v-icon>
              </v-btn>
              <v-btn icon class="ma-2" @click.native="sound.stop()" :disabled="!loaded">
                  <v-icon large>mdi-stop-circle</v-icon>
              </v-btn>
              <v-btn icon class="ma-2" @click.native="sound.mute( true )" :disabled="!loaded" v-if="! isMuted">
                  <v-icon large>mdi-volume-high</v-icon>
              </v-btn>
              <v-btn icon class="ma-2" @click.native="sound.mute( false )" :disabled="!loaded" v-else>
                <v-icon large>mdi-volume-off</v-icon>
              </v-btn>
              <v-btn icon class="ma-2" v-if="loaded" :href=`${share_url}/${selected_item.audio}.mp3` target="_blank">
                  <v-icon large>mdi-download-circle</v-icon>
              </v-btn>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon class="ma-2" v-show="autoplay" @click="autoplay = false" v-bind="attrs" v-on="on">
                    <v-icon large>mdi-repeat</v-icon>
                  </v-btn>
                </template>
                <span>Repeat</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon class="ma-2" v-show="! autoplay"  @click="autoplay = true" v-bind="attrs" v-on="on">
                    <v-icon large>mdi-repeat-off</v-icon>
                  </v-btn>
                </template>
                <span>Repeat</span>
              </v-tooltip>
              <v-slider v-model="playerVolume" prepend-icon="mdi-volume-high" max="1" step="0.01" min="0" v-show="!playerVolume"></v-slider>
              <v-progress-linear hide-details stream v-model="percentage" height="20" @change="sound.seek( duration * ( percentage / 100 ) )" :disabled="!loaded">
                <span v-show="selected_item.title" class="white--text caption">Austin Ginder - {{ selected_item.title }}</span>
              </v-progress-linear>
              <p>{{ currentTime | formatTime }} / {{ duration | formatTime }}</p>
          </v-card-text>
      </v-card>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
          local_share_url: "/music",
          share_url: "https://f001.backblazeb2.com/file/Ginder/Music",
          tracks: [
              { date: "Mar 16th, 2022", author: "Austin Ginder", title: "Unknown Formula", duration: "3:33", audio: "Cosmic Mysteries/01-Unknown Formula", album: "Cosmic Mysteries", position: 1 },
              { date: "Mar 17th, 2022", author: "Austin Ginder", title: "Theories Unending", duration: "4:07", audio: "Cosmic Mysteries/02-Theories Unending", album: "Cosmic Mysteries", position: 2 },
              { date: "Mar 3rd, 2022", author: "Austin Ginder", title: "Lumination", duration: "3:01", audio: "Lumination/01-Lumination", album: "Lumination", position: 1 },
              { date: "Mar 2nd, 2022", author: "Austin Ginder", title: "Contemplative Thoughts", duration: "2:59", audio: "Lumination/02-Contemplative Thoughts", album: "Lumination", position: 2 },
              { date: "Mar 3rd, 2022", author: "Austin Ginder", title: "Which Question?", duration: "2:43", audio: "Lumination/03-Which Question", album: "Lumination", position: 3 },
              { date: "Mar 4th, 2022", author: "Austin Ginder", title: "Path Finder", duration: "3:48", audio: "Lumination/04-Path Finder", album: "Lumination", position: 4 },
              { date: "Mar 5th, 2022", author: "Austin Ginder", title: "Radiant Pursuit", duration: "3:16", audio: "Lumination/05-Radiant Pursuit", album: "Lumination", position: 5 },
              { date: "Mar 7th, 2022", author: "Austin Ginder", title: "Guiding Pulse", duration: "4:04", audio: "Lumination/06-Guiding Pulse", album: "Lumination", position: 6 },
              { date: "Mar 8th, 2022", author: "Austin Ginder", title: "Unexcepted Discovery", duration: "3:36", audio: "Lumination/07-Unexcepted Discovery", album: "Lumination", position: 7 },
              { date: "Mar 9th, 2022", author: "Austin Ginder", title: "Beaming Into Darkness", duration: "2:43", audio: "Lumination/08-Beaming Into Darkness", album: "Lumination", position: 8 },
              { date: "Mar 9th, 2022", author: "Austin Ginder", title: "In The Light", duration: "3:16", audio: "Lumination/09-In The Light", album: "Lumination", position: 9 },
              { date: "Mar 12th, 2022", author: "Austin Ginder", title: "New Day Dawning", duration: "4:12", audio: "Lumination/10-New Day Dawning", album: "Lumination", position: 10 },
              { date: "Mar 12th, 2022", author: "Austin Ginder", title: "Reflective Brilliance", duration: "4:35", audio: "Lumination/11-Reflective Brilliance", album: "Lumination", position: 11 },
              { date: "Feb 21th, 2022", author: "Austin Ginder", title: "Roving The Stars", duration: "3:45", audio: "Planetary Classifier/01-Roving The Stars", album: "Planetary Classifier", position: 1 },
              { date: "Feb 22th, 2022", author: "Austin Ginder", title: "Epic Giants", duration: "4:00", audio: "Planetary Classifier/02-Epic Giants", album: "Planetary Classifier", position: 2 },
              { date: "Feb 22th, 2022", author: "Austin Ginder", title: "Floating Rocks", duration: "3:15", audio: "Planetary Classifier/03-Floating Rocks", album: "Planetary Classifier", position: 3 },
              { date: "Feb 23th, 2022", author: "Austin Ginder", title: "Perfect Orbits", duration: "3:20", audio: "Planetary Classifier/04-Perfect Orbits", album: "Planetary Classifier", position: 4 },
              { date: "Feb 23th, 2022", author: "Austin Ginder", title: "Irregular Spin", duration: "3:43", audio: "Planetary Classifier/05-Irregular Spin", album: "Planetary Classifier", position: 5 },
              { date: "Feb 25th, 2022", author: "Austin Ginder", title: "Edge Of Fire", duration: "3:30", audio: "Planetary Classifier/06-Edge Of Fire", album: "Planetary Classifier", position: 6 },
              { date: "Feb 26th, 2022", author: "Austin Ginder", title: "Endless Worlds", duration: "3:45", audio: "Planetary Classifier/07-Endless Worlds", album: "Planetary Classifier", position: 7 },
              { date: "Feb 28th, 2022", author: "Austin Ginder", title: "Double Rings", duration: "3:22", audio: "Planetary Classifier/08-Double Rings", album: "Planetary Classifier", position: 8 },
              { date: "Feb 28th, 2022", author: "Austin Ginder", title: "Diamond Clouds", duration: "4:30", audio: "Planetary Classifier/09-Diamond Clouds", album: "Planetary Classifier", position: 9 },
              { date: "Mar 1st, 2022", author: "Austin Ginder", title: "The Star Dance", duration: "4:56", audio: "Planetary Classifier/10-The Star Dance", album: "Planetary Classifier", position: 10 },
              { date: "Feb 10th, 2022", author: "Austin Ginder", title: "Barren Land", duration: "2:38", audio: "Arctic Expedition/01-Barren Land", album: "Arctic Expedition", position: 1 },
              { date: "Feb 11th, 2022", author: "Austin Ginder", title: "Remote Explorers", duration: "3:36", audio: "Arctic Expedition/02-Remote Explorers", album: "Arctic Expedition", position: 2 },
              { date: "Feb 12th, 2022", author: "Austin Ginder", title: "The Sleepy Arctic Fox", duration: "4:07", audio: "Arctic Expedition/03-The Sleepy Arctic Fox", album: "Arctic Expedition", position: 3 },
              { date: "Feb 12th, 2022", author: "Austin Ginder", title: "Night Sky Colors", duration: "3:18", audio: "Arctic Expedition/04-Night Sky Colors", album: "Arctic Expedition", position: 4 },
              { date: "Feb 13th, 2022", author: "Austin Ginder", title: "Sweeping Snow", duration: "3:00", audio: "Arctic Expedition/05-Sweeping Snow", album: "Arctic Expedition", position: 5 },
              { date: "Feb 14th, 2022", author: "Austin Ginder", title: "Diving Puffins", duration: "3:36", audio: "Arctic Expedition/06-Diving Puffins", album: "Arctic Expedition", position: 6 },
              { date: "Feb 15th, 2022", author: "Austin Ginder", title: "Polar Bear Life", duration: "4:07", audio: "Arctic Expedition/07-Polar Bear Life", album: "Arctic Expedition", position: 7 },
              { date: "Feb 16th, 2022", author: "Austin Ginder", title: "Walrus In Town", duration: "3:30", audio: "Arctic Expedition/08-Walrus In Town", album: "Arctic Expedition", position: 8 },
              { date: "Feb 17th, 2022", author: "Austin Ginder", title: "An Arctic Outro", duration: "3:43", audio: "Arctic Expedition/09-An Arctic Outro", album: "Arctic Expedition", position: 9 },
              { date: "Jan 25th, 2022", author: "Austin Ginder", title: "Rising Valor", duration: "3:08", audio: "Victory All Around/01-Rising Valor", album: "Victory All Around", position: 1  },
              { date: "Jan 27th, 2022", author: "Austin Ginder", title: "Always Peace", duration: "3:08", audio: "Victory All Around/02-Always Peace", album: "Victory All Around", position: 2 },
              { date: "Feb 5th, 2022", author: "Austin Ginder", title: "Forward Anthem", duration: "3:12", audio: "Victory All Around/03-Forward Anthem", album: "Victory All Around", position: 3 },
              { date: "Jan 26th, 2022", author: "Austin Ginder", title: "Triumphed Steps", duration: "3:08", audio: "Victory All Around/04-Triumphed Steps", album: "Victory All Around", position: 4 },
              { date: "Feb 6th, 2022", author: "Austin Ginder", title: "Hidden Treasures", duration: "3:56", audio: "Victory All Around/05-Hidden Treasures", album: "Victory All Around", position: 5 },
              { date: "Feb 7th, 2022", author: "Austin Ginder", title: "Limitless Creativity", duration: "3:44", audio: "Victory All Around/06-Limitless Creativity", album: "Victory All Around", position: 6 },
              { date: "Feb 7th, 2022", author: "Austin Ginder", title: "Thoughts Exploding", duration: "3:27", audio: "Victory All Around/07-Thoughts Exploding", album: "Victory All Around", position: 7 },
              { date: "Feb 9th, 2022", author: "Austin Ginder", title: "Glorious Happenings", duration: "2:54", audio: "Victory All Around/08-Glorious Happenings", album: "Victory All Around", position: 8 },
              { date: "Feb 9th, 2022", author: "Austin Ginder", title: "Overtaken By Blessings", duration: "5:27", audio: "Victory All Around/09-Overtaken By Blessings", album: "Victory All Around", position: 9 },
              { date: "Jan 6th, 2022", author: "Austin Ginder", title: "Cosmic Explorer", duration: "3:01", audio: "Cosmic Explorer/01-Cosmic Explorer", album: "Cosmic Explorer", position: 1 },
              { date: "Jan 7th, 2022", author: "Austin Ginder", title: "Solar Sailing", duration: "2:51", audio: "Cosmic Explorer/02-Solar Sailing", album: "Cosmic Explorer", position: 2 },
              { date: "Jan 10th, 2022", author: "Austin Ginder", title: "Journey Into Unknown", duration: "3:15", audio: "Cosmic Explorer/03-Journey Into Unknown", album: "Cosmic Explorer", position: 3 },
              { date: "Jan 11th, 2022", author: "Austin Ginder", title: "Alien World", duration: "3:42", audio: "Cosmic Explorer/04-Alien World", album: "Cosmic Explorer", position: 4 },
              { date: "Jan 12th, 2022", author: "Austin Ginder", title: "Diamond Forest", duration: "3:12", audio: "Cosmic Explorer/05-Diamond Forest", album: "Cosmic Explorer", position: 5 },
              { date: "Jan 13th, 2022", author: "Austin Ginder", title: "Space Party", duration: "4:01", audio: "Cosmic Explorer/06-Space Party", album: "Cosmic Explorer", position: 6 },
              { date: "Jan 16th, 2022", author: "Austin Ginder", title: "Alien Life", duration: "4:36", audio: "Cosmic Explorer/07-Alien Life", album: "Cosmic Explorer", position: 7 },
              { date: "Jan 16th, 2022", author: "Austin Ginder", title: "Orbital Velocity", duration: "3:14", audio: "Cosmic Explorer/08-Orbital Velocity", album: "Cosmic Explorer", position: 8 },
              { date: "Jan 22th, 2022", author: "Austin Ginder", title: "Mission Lightspeed", duration: "3:19", audio: "Cosmic Explorer/09-Mission Lightspeed", album: "Cosmic Explorer", position: 9 },
              { date: "Dec 21th, 2021", author: "Austin Ginder", title: "Panther On The Move", duration: "6:16", audio: "Exploring Everglades/01-Panther On The Move", album: "Exploring Everglades", position: 1 },
              { date: "Dec 19th, 2021", author: "Austin Ginder", title: "Little Sea Turtle", duration: "4:20", audio: "Exploring Everglades/02-Little Sea Turtle", album: "Exploring Everglades", position: 2 },
              { date: "Dec 16th, 2021", author: "Austin Ginder", title: "Manatees Hiding", duration: "4:41", audio: "Exploring Everglades/03-Manatees Hiding", album: "Exploring Everglades", position: 3 },
              { date: "Dec 23th, 2021", author: "Austin Ginder", title: "Starfish Twinkle", duration: "2:51", audio: "Exploring Everglades/04-Starfish Twinkle", album: "Exploring Everglades", position: 4 },
              { date: "Dec 28th, 2021", author: "Austin Ginder", title: "Egrets Away", duration: "5:02", audio: "Exploring Everglades/05-Egrets Away", album: "Exploring Everglades", position: 5 },
              { date: "Dec 29th, 2021", author: "Austin Ginder", title: "Dolphin's Paradise", duration: "3:02", audio: "Exploring Everglades/06-Dolphin's Paradise", album: "Exploring Everglades", position: 6 },
              { date: "Dec 30th, 2021", author: "Austin Ginder", title: "Airboat Mania!", duration: "4:18", audio: "Exploring Everglades/07-Airboat Mania", album: "Exploring Everglades", position: 7 },
              { date: "Jan 2nd, 2022", author: "Austin Ginder", title: "Reflective Waters", duration: "3:43", audio: "Exploring Everglades/08-Reflective Waters", album: "Exploring Everglades", position: 8 },
              { date: "Oct 21st, 2021", author: "Austin Ginder", title: "Hello World", duration: "3:13", audio: "Hello XYZ/01-Hello World", album: "Hello XYZ", position: 1 },
              { date: "Nov 27th, 2021", author: "Austin Ginder", title: "L500", duration: "2:23", audio: "Hello XYZ/02-L500", album: "Hello XYZ", position: 2 },
              { date: "Dec 4th, 2021", author: "Austin Ginder", title: "T100", duration: "2:27", audio: "Hello XYZ/03-T100", album: "Hello XYZ", position: 3 },
              { date: "Dec 9th, 2021", author: "Austin Ginder", title: "A37", duration: "4:15", audio: "Hello XYZ/04-A37", album: "Hello XYZ", position: 4 },
              { date: "Nov 26th, 2021", author: "Austin Ginder", title: "A1", duration: "2:37", audio: "Hello XYZ/05-A1", album: "Hello XYZ", position: 5 },
              { date: "Dec 7th, 2021", author: "Austin Ginder", title: "i5", duration: "3:52", audio: "Hello XYZ/06-i5", album: "Hello XYZ", position: 6 },
              { date: "Dec 2nd, 2021", author: "Austin Ginder", title: "M2", duration: "3:46", audio: "Hello XYZ/07-M2", album: "Hello XYZ", position: 7 },
              { date: "Dec 10th, 2021", author: "Austin Ginder", title: "E3PO", duration: "3:39", audio: "Hello XYZ/08-E3PO", album: "Hello XYZ", position: 8 },
              { date: "Dec 13th, 2021", author: "Austin Ginder", title: "C35", duration: "4:00", audio: "Hello XYZ/09-C35", album: "Hello XYZ", position: 9 },
          ],
          albums: [
              { date: "Future Unknown", author: "Austin Ginder", title: "Cosmic Mysteries", artwork: false },
              { date: "July 22nd 2022", author: "Austin Ginder", title: "Lumination" },
              { date: "June 22nd 2022", author: "Austin Ginder", title: "Planetary Classifier" },
              { date: "May 22nd 2022", author: "Austin Ginder", title: "Arctic Expedition" },
              { date: "April 22nd 2022", author: "Austin Ginder", title: "Victory All Around" },
              { date: "March 22nd 2022", author: "Austin Ginder", title: "Cosmic Explorer" },
              { date: "February 22nd 2022", author: "Austin Ginder", title: "Exploring Everglades" },
              { date: "January 22nd 2022", author: "Austin Ginder", title: "Hello XYZ" }
          ],
          selected_item: {},
          selected_item_index: null,
          selected_album_index: null,
          duration: 0,
          isMuted: false,
          paused: false,
          playing: false,
          autoplay: true,
          playerVolume: 1,
          percentage: 0,
          sound: {},
          loaded: false,
      },
      mounted() {
        this.albums.forEach( a => a.position = "" )
        if ( window.location.host.endsWith( ".localhost" ) ) {
          this.share_url = this.local_share_url
        }
        window.addEventListener('keydown', (e) => {
          if (e.key == 32 || e.key == ' ') {
            this.sound.playing() ? this.sound.pause() : this.sound.play()
            e.preventDefault()
          }
        })
      },
      filters: {
        formatTime: function ( value ) {
          var sec_num = parseInt(value, 10); // don't forget the second param
          var hours   = Math.floor(sec_num / 3600);
          var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
          var seconds = sec_num - (hours * 3600) - (minutes * 60);

          if (hours   < 10) { hours   = "0"+hours }
          if (minutes < 10) { minutes = "0"+minutes }
          if (seconds < 10) { seconds = "0"+seconds }
          return minutes + ':' + seconds;
        },
      },
      watch: {
        playerVolume() {
          Howler.volume(this.playerVolume);
        }
      },
      computed: {
        singleTracks() {
          return this.tracks.filter( t => t.album == "" || ! t.album )
        },
        currentTime() {
          return this.duration * ( this.percentage / 100 )
        },
        totalTime() {
          var minutes = 0
          var seconds = 0
          var hours = 0

          this.tracks.forEach( item => {
              time = item.duration.split(":")
              minutes = minutes + parseInt( time[0] )
              seconds = seconds + parseInt( time[1] )
          })

          if ( seconds > 60 ) {
            minutes = minutes + parseInt( seconds / 60 )
            seconds = seconds % 60
          }

          if ( minutes > 60 ) {
            hours = hours + parseInt( minutes / 60 )
            minutes = minutes % 60
          }

          minutes = this.pad( minutes )
          seconds = this.pad( seconds )
          
          if ( hours > 0 ) {
            return `${hours}:${minutes}:${seconds}`
          }
          return `${minutes}:${seconds}`
        }
      },
      methods: {
        trackLength( tracks ) {
          var minutes = 0
          var seconds = 0
          var hours = 0

          tracks.forEach( item => {
              time = item.duration.split(":")
              minutes = minutes + parseInt( time[0] )
              seconds = seconds + parseInt( time[1] )
          })

          if ( seconds > 60 ) {
            minutes = minutes + parseInt( seconds / 60 )
            seconds = seconds % 60
          }

          if ( minutes > 60 ) {
            hours = hours + parseInt( minutes / 60 )
            minutes = minutes % 60
          }

          if ( hours > 0 ) {
            return `${hours}:${minutes}:${seconds}`
          }
          minutes = this.pad( minutes )
          seconds = this.pad( seconds )
          return `${minutes}:${seconds}`
        },
        albumTracks( album ) {
            return this.tracks.filter( t => t.album == album.title ).sort( function (x, y) {
              return x.position - y.position
          } )
        },
        pad(num) {
          num = num.toString();
          while (num.length < 2) num = "0" + num;
          return num;
        },
        playAudio() {
          self = this
          Howler.unload()
          if ( this.selected_item.album == "" || ! this.selected_item.album ) {
            this.albums.forEach( a => a.position = "" )
          } else {
            this.selected_item_index = ""
          }
          this.sound = new Howl({
            src: [ `${this.share_url}/${this.selected_item.audio}.webm`, `${this.share_url}/${this.selected_item.audio}.mp3` ],
            onmute: function() { self.toggleMute() },
            onplay: function() { 
              self.togglePlay()
              requestAnimationFrame(self.step)
            },
            onpause: function() { self.togglePlay() },
            onstop: function() { self.togglePlay() },
            onend: function() { self.playNext() },
          })
          this.sound.once('load', function(){
            self.duration = self.sound.duration()
          });
          this.sound.play()
          this.playing = true
          this.loaded = true
          this.percentage = this.sound.seek()
        },
        toggleMute() {
          this.isMuted = this.sound.mute()
        },
        togglePlay() {
          this.playing = this.sound.playing()
          this.paused = ! this.sound.playing()
        },
        playNext() {
          if ( ! this.autoplay ) {
            return
          }
          if ( this.selected_item.album == "" || ! this.selected_item.album ) {
            found_track = false
            should_skip = false
            this.singleTracks.forEach( ( t, index ) => {
              if ( should_skip ) {
                return
              }
              if ( found_track ) {
                should_skip = true
                this.albums.forEach( a => a.position = "" )
                this.selected_item = this.singleTracks[index]
                this.selected_item_index = index
                this.playAudio()
                return
              }
              if ( t.title == this.selected_item.title ) {
                found_track = true
              }
            })
            if ( should_skip ) {
                return
              }
            if ( this.albums && this.albums.length > 0 ) {
              next_song = this.albumTracks( this.albums[0] )
              this.albums[0].position = 0
              this.selected_item = next_song[0]
              this.selected_item_index = ""
              this.playAudio()
            }
            return
          }

          position = this.selected_item.position
          next_item = position + 1
          album = this.albums.filter( a => a.title == this.selected_item.album )[0]
          album.position = position
          
          next_song = this.albumTracks( album ).filter( t => t.position == next_item )

          if ( next_song.length != 1 ) {
            return
          }
          this.selected_item = next_song[0]
          this.selected_item_index = ""
          this.playAudio()
        },
        step() {
          var seek = this.sound.seek() || 0
          this.percentage = seek / this.duration * 100
          if (this.sound.playing()) {
            setTimeout(function() {
              requestAnimationFrame(self.step)
              }, 100)
          }
        }
      },
    })
  </script>
</body>
</html>